<script setup>
import { Head, Link } from '@inertiajs/vue3';
import FrontendLayout from '../Layouts/Frontend.vue';
import Hero from '@/Components/Frontend/Hero.vue';
import Promo from '@/Components/Frontend/Promo.vue';
import About from '@/Components/Frontend/About.vue';
import Skills from '@/Components/Frontend/Skills.vue';
import Portfolio from '@/Components/Frontend/Portfolio.vue';
import Service from '@/Components/Frontend/Service.vue';
import Contact from '@/Components/Frontend/Contact.vue';

defineProps({
    skills: Object,
    projects: Object,
});
</script>

<template>
    <Head title="Verbites" />
    <FrontendLayout>
        <!-- Hero Primary -->
        <Hero />
        <!-- Promo -->
        <Promo />
        <!-- About -->
        <About />
        <!-- Skills -->
        <Skills :skills="skills" />
        <!-- Portfolio -->
        <Portfolio :skills="skills" :projects="projects" />
        <!-- Services -->
        <Service />
        <!-- Contact -->
        <Contact />
    </FrontendLayout>
</template>

