<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, router, useForm } from '@inertiajs/vue3';
// import { Inertia } from '@inertiajs/vue';



const props = defineProps({
    skill: Object
});

const form = useForm({
    name: props.skill?.name,
    image: null,
});

const submit = () => {
    router.post(`/skills/${props.skill.id}`, {
        _method : "put",
        name: form.name,
        image: form.image,
    });
    // form.post(route('skills.edit'), {
    //     // onFinish: () => form.reset('password'),
    // });
};
</script>

<template>
    <Head title="Edit Skill"></Head>


    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Edit Skill</h2>
        </template>

        <div class="py-12">
            <div class="max-w-md mx-auto sm:px-6 lg:px-8 bg-white rounded-md">
                <form class="p-4" @submit.prevent="submit">
                    <div>
                        <InputLabel for="name" value="Skill Name" />

                        <TextInput
                            id="name"
                            type="name"
                            class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 w-full"
                            v-model="form.name"
                            autofocus
                            autocomplete="username"
                        />

                        <InputError class="mt-2" :message="$page.props.errors.name" />
                    </div>
                    <div class="mt-2">
                        <InputLabel for="image" value="Thumbnail" />

                        <TextInput
                            id="image"
                            type="file"
                            class="mt-1 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 w-full"
                            @input="form.image = $event.target.files[0]"
                        />

                        <InputError class="mt-2" :message="$page.props.errors.image" />
                    </div>



                    <div class="flex items-center justify-end mt-4">
                        <PrimaryButton class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Save Changes
                        </PrimaryButton>
                    </div>
                </form>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
