<template>
    <section id="about" class="section rounded-2xl dark:rounded-2xl bg-light-secondary dark:bg-dark-secondary">
      <div
        class="container mx-auto"
        v-motion
        :initial="{
          opacity: 0,
          y: 100,
        }"
        :visible="{
          opacity: 1,
          y: 0,
        }"
      >
        <div class="flex flex-col gap-24 xl:flex-row">
          <img
            class="object-cover h-full w-[566px] md:mx-auto lg:mx-0 rounded-2xl"
            src="http://portfol.test/img/pearl.jpg"
            alt="about"
          />
          <div
            class="flex flex-col items-center text-center lg:items-start lg:text-left"
          >
            <div class="flex flex-col">
              <h2 class="mb-3 text-3xl font-medium lg:text-4xl lg:font-extrabold">
                About Me
              </h2>
              <p class="mb-4 font-bold text-accent dark:text-indigo-700">Network Engineer & Fullstack Developer </p>
              <hr class="mb-8 opacity-90 dark:opacity-5" />
              <p class="mb-8">
                I am a versatile professional with expertise in both network engineering and full-stack development.
                 With a passion for optimizing digital infrastructure, i thrive on creating seamless connections between networks and crafting robust, user-friendly applications.<br />
                <br />
                My experience includes designing scalable solutions, troubleshooting complex issues, and leveraging a diverse skill set to deliver a high-quality results. <br />
                <br /> Let's connect and explore how my technical skills and dedication can contribute to your projects.
              </p>
            </div>
            <button class="transition-all rounded-lg btn btn-md bg-accent dark:bg-indigo-800 hover:bg-light-secondary hover:text-light-tail-500 dark:hover:bg-indigo-900 dark:hover:text-dark-navy-100 md:btn-lg">
              Contact me
            </button>
          </div>
        </div>
      </div>
    </section>
  </template>
