<script setup>
import Project from "./Project.vue";
import { ref } from "vue";
const props = defineProps({
  skills: Object,
  projects: Object,
});

const filteredProjects = ref(props.projects.data);
const selectedSkill = ref("all");

const filterProjects = (id) => {
  if (id === "all") {
    filteredProjects.value = props.projects.data;
    selectedSkill.value = id;
  } else {
    filteredProjects.value = props.projects.data.filter((project) => {
      return project.skill.id === id;
    });
    selectedSkill.value = id;
  }
};
</script>
<template>
  <div class="container mx-auto">
    <nav class="mb-12 border-b-2 border-light-tail-100 dark:text-dark-navy-100">
      <ul class="flex flex-col items-center lg:flex-row justify-evenly">
        <li class="m-4 capitalize cursor-pointer">
          <button
            @click="filterProjects('all')"
            class="flex px-4 py-2 text-center text-white rounded-md hover:bg-accent dark:hover:bg-indigo-400"
            :class="[
              selectedSkill === 'all'
                ? 'bg-accent'
                : 'bg-indigo-400  dark:bg-indigo-900',
            ]"
          >
            All
          </button>
        </li>
        <li
          class="m-4 capitalize cursor-pointer"
          v-for="projectSkill in skills.data"
          :key="projectSkill.id"
        >
          <button
            @click="filterProjects(projectSkill.id)"
            class="flex px-4 py-2 text-center text-white rounded-md hover:bg-accent dark:hover:bg-indigo-400"
            :class="[
              selectedSkill == projectSkill.id
                ? 'bg-blue-600'
                : 'bg-indigo-400  dark:bg-indigo-900',
            ]"
          >
            {{ projectSkill.name }}
          </button>
        </li>
      </ul>
    </nav>
    <section class="grid gap-y-12 lg:grid-cols-3 lg:gap-8">
      <Project
        v-for="project in filteredProjects"
        :key="project.id"
        :project="project"
      />
    </section>
  </div>
</template>
