<script setup>

</script>
<template>
    <div class="bg-indigo-100 dark:bg-dark-navy-500">
      <div class="py-24 mx-auto max-w-7xl sm:px-6 sm:py-32 lg:px-8">
        <div class="relative px-6 pt-16 overflow-hidden shadow-2xl bg-teal-man dark:bg-gray-900 isolate sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
          <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
            <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
            <defs>
              <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                <stop stop-color="#7775D6" />
                <stop offset="1" stop-color="#E935C1" />
              </radialGradient>
            </defs>
          </svg>
          <div class="max-w-md mx-auto text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
            <h2 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl">Get Your Tech Support.<br />Get in touch for more tech support.</h2>
            <p class="mt-6 text-lg leading-8 dark:text-gray-300">24/7 tech assistance, rapid solutions, reliable support - your technology, our expertise.</p>
            <div class="flex items-center justify-center mt-10 gap-x-6 lg:justify-start">
              <button class="rounded-lg ransition-all btn btn-md bg-accent dark:bg-indigo-800 hover:bg-light-secondary hover:text-light-tail-500 dark:hover:bg-indigo-900 dark:hover:text-dark-navy-100 md:btn-lg">Get in touch</button>
              <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
            </div>
          </div>
          <div class="relative mt-16 h-80 lg:mt-8">
            <img class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="http://portfol.test/img/dark-project-app-screenshot.png" alt="App screenshot" width="1824" height="1080" />
          </div>
        </div>
      </div>
    </div>
  </template>
